/* *{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    background-position: center center;
    background-size: cover;
    transition: 0.7s ease;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.container .navbar__menu{
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: rgb(10, 195, 165);
    min-height: 5vh;
    padding-top: 0;
    text-decoration: none;
    font-style: none;
    color: aliceblue;
}
ul{
    display: flex;
    flex-direction: row;
}
a , li{
    font-size: 24px;
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}
.footer{
    color: aliceblue;
    background-color: rgb(10, 195, 165);
    width: 100vw;
    margin-top: 1000px;
    margin-left: -10px;
    padding: 0;
    position:relative;
}
p, h1, h2, h3, h4{
    font-size: 27px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 10px;

}
.slider-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 60vh;
    width: 70vw;
    position: absolute;
    overflow: hidden;
    margin-top: 325px;
    margin-bottom: 175px;
    z-index: -1;
}
.slide{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}
.slide.active{
    opacity: 1;
}
.arrow{
    position: fixed;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top:50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}
.arrow.focus{
    outline: 0;
}
.left-arrow{
    left: calc(15vw - 65px);
    
}
.right-arrow{
    right: calc(15vw - 65px);
} */

*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* background-image: url('https://images.unsplash.com/photo-1627398362552-6a029c1f583c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    background-position: center 57%;
    background-size: cover;
    transition: 0.7s ease;  
    background-repeat:no-repeat;  
    
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.slider-container{
    top: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    
}
.slide{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: 80% 80%;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}
.slide.active{
    opacity: 1;
}
.arrow{
    position:fixed;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top:70%;
    transform: translateY(-70%);
    color: white;
    cursor: pointer;
}
.arrow.focus{
    outline: 0;
}
.left-arrow{
    left: calc(15vw - 65px);
    
}
.right-arrow{
    right: calc(15vw - 65px);
}
.container .navbar__menu{
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: rgb(10, 195, 165);
    min-height: 5vh;
    padding-top: 0;
    text-decoration: none;
    font-style: none;
    color: aliceblue;
    z-index: 3;
    opacity: 1;
}
ul{
    display: flex;
    flex-direction: row;
}
a , li{
    font-size: 24px;
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}
p, h1, h2, h3{
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 10px;
    z-index: 0;

}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500px;
    color: black;
    z-index: 1000000000;

}
.footer{
    color: aliceblue;
    background-color: rgb(10, 195, 165);
    width: 100vw;
    height: 40vh;
    padding-top: 1000px;
    margin-top: 1000px;
    margin-left: -10px;
    padding: 0;
    position: absolute;
    z-index: 11;
}