*{
    box-sizing: border-box;
}
html{
    background-image: url(./images/shot-stash-creative-paint-palette.jpg);
    height: 100vh;
    padding-top: 300px;
    background-repeat: none;
    /* background-size: cover; */
    background-position: fixed;
    background-position:80%;
    overflow-x: hidden;
} 
/* body{
    background-image: url(./images/shot-stash-creative-paint-palette.jpg);
    height: 100vh;
    padding-top: 300px;
    background-repeat:repeat-y;
    background-size: cover;
    /* background-position: fixed;
    background-position: top;
} */
.container .navbar__menu{
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    /*display: flex;*/
    margin-bottom: 50px;
    /*margin-right: 250px;
    padding-right: -250px;*/
    background-color: rgb(10, 195, 165);
    min-height: 5vh;
    padding-top: 0;
    text-decoration: none;
    font-style: none;
    color: aliceblue;
}
.container1{
    height: 100vh;
}
.main__picture{
    background-position: 45%;
    height: 50vh;
    width: 100vw;
    background-size: 100%;
    background-image: url(../images/cars.jpg);
    background-repeat: no-repeat;
    /* margin-bottom: 14em; */
    margin-top: 0;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}
.footer{
    background-color: rgb(10, 195, 165);
    width: 100vw;
    margin: 0;
    left: 0;
    padding: 0;
}